.container{
margin-top:5%;
}
body{
	 background-image: url("https://s2.best-wallpaper.net/wallpaper/3840x2160/1803/Cocktail-drinks-lime-berries-sea_3840x2160.jpg");
	 background-position: center;
 	 background-repeat: no-repeat;
}


