.container{
	 position: relative;
}
body{
	 background-image: url("https://images.alphacoders.com/103/1034230.jpg");
	 background-position: center;
 	 background-repeat: no-repeat;
}

.form-group{
	margin-top:40%;
}

